@font-face{
	font-family: 'Inconsolata';
	src: url('fonts/Inconsolata/Inconsolata-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Inconsolata';
	src: url('fonts/Inconsolata/Inconsolata-Bold.ttf') format('truetype');
	font-weight: 500;
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype');
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype');
	font-weight: 200;
}

@font-face{
	font-family: 'Source Sans Pro';
	src: url('fonts/Source_Sans_Pro/SourceSansPro-Semibold.ttf') format('truetype');
	font-weight: 500;
}

body {
	font-family: 'Source Sans Pro', arial, sans-serif;
	font-weight: 400;
	color: #555;
	-webkit-font-smoothing: antialiased;
}

header {
	font-family: 'Source Sans Pro';
}

h1, h2, h3, h4, h5, h6 {
	color: #333;
}

h1 {
	font-weight: 500;
	margin: 0 0.3em 0 0;
	text-transform: lowercase;
	font-size: 2em;
	line-height: 2rem;
	display: inline;
	text-decoration: none;
	color: white;
}

a, a:visited {
	text-decoration: none;
	color: rgba(0,0,0,0.9);
}

h1 a, h1 a:visited, footer a, footer a:visited {
	color: white;
}

nav a, nav a:visited {
	display: inline-block;
	color: rgba(255,255,255,0.8);
	text-decoration: none;
	line-height: 1;
	padding: 0 0 0 0.5em;
}

nav a:hover {
	color: rgba(255,255,255,1);
	text-decoration: underline;
}

li {
	margin: 0 0 0.5em 0;
}
